.pr-card {
  padding: 10px;
  flex-grow: 1;
  margin: 5px;

  ul {
    list-style: none;
  }

  &.pr-lift-list {
    .MuiSelect-root {
      width: 75%;
    }

    li {
      margin-bottom: 10px;
      &.active {
        button {
          background: $blue_1;
          color: #fff;
        }
      }
    }

    button {
      background: none;
      border: 1px solid $blue_1;
      border-radius: 10px;
      padding: 10px;
      color: $blue_1;
      font-size: 18px;
      text-align: left;
    }
  }

  .pr-list {
    padding-left: 0;
    li {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      align-items: center;
      margin-bottom: 15px;
      border-bottom: 1px solid $light-gray;

      > div {
        display: flex;
        align-items: center;
      }

      h3 {
        padding-bottom: 0;
        span {
          font-size: 16px;
        }
      }

      h4 {
        padding-bottom: 0;
      }
    }

    .pr-reps {
      color: $blue_1;
      font-size: 22px;
      margin-right: 20px;
    }
  }
}

.no-pr-message {
  opacity: 0;
  animation: 0.5s ease-in 0.5s forwards 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
